<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.article.mapper.SpArticleMapper">
    
    <resultMap type="SpArticle" id="SpArticleResult">
        <result property="articleId"    column="article_id"    />
        <result property="columnName"    column="column_name"    />
        <result property="articleName"    column="article_name"    />
        <result property="headImage"    column="head_image"    />
        <result property="fileAddress"    column="file_address"    />
        <result property="viceTitle"    column="vice_title"    />
        <result property="createTime"    column="create_time"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectSpArticleVo">
        select article_id, column_name, article_name, head_image, file_address, vice_title, create_time, content from sp_article
    </sql>

    <select id="selectSpArticleList" parameterType="SpArticle" resultMap="SpArticleResult">
        <include refid="selectSpArticleVo"/>
        <where>  
            <if test="columnName != null  and columnName != ''"> and column_name like concat('%', #{columnName}, '%')</if>
            <if test="articleName != null  and articleName != ''"> and article_name like concat('%', #{articleName}, '%')</if>
            <if test="headImage != null  and headImage != ''"> and head_image = #{headImage}</if>
            <if test="fileAddress != null  and fileAddress != ''"> and file_address = #{fileAddress}</if>
            <if test="viceTitle != null  and viceTitle != ''"> and vice_title = #{viceTitle}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectSpArticleById" parameterType="String" resultMap="SpArticleResult">
        <include refid="selectSpArticleVo"/>
        where article_id = #{articleId}
    </select>
        
    <insert id="insertSpArticle" parameterType="SpArticle">
        insert into sp_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null  and articleId != ''">article_id,</if>
            <if test="columnName != null  and columnName != ''">column_name,</if>
            <if test="articleName != null  and articleName != ''">article_name,</if>
            <if test="headImage != null  and headImage != ''">head_image,</if>
            <if test="fileAddress != null  and fileAddress != ''">file_address,</if>
            <if test="viceTitle != null  and viceTitle != ''">vice_title,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="content != null  and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null  and articleId != ''">#{articleId},</if>
            <if test="columnName != null  and columnName != ''">#{columnName},</if>
            <if test="articleName != null  and articleName != ''">#{articleName},</if>
            <if test="headImage != null  and headImage != ''">#{headImage},</if>
            <if test="fileAddress != null  and fileAddress != ''">#{fileAddress},</if>
            <if test="viceTitle != null  and viceTitle != ''">#{viceTitle},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="content != null  and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateSpArticle" parameterType="SpArticle">
        update sp_article
        <trim prefix="SET" suffixOverrides=",">
            <if test="columnName != null  and columnName != ''">column_name = #{columnName},</if>
            <if test="articleName != null  and articleName != ''">article_name = #{articleName},</if>
            <if test="headImage != null  and headImage != ''">head_image = #{headImage},</if>
            <if test="fileAddress != null  and fileAddress != ''">file_address = #{fileAddress},</if>
            <if test="viceTitle != null  and viceTitle != ''">vice_title = #{viceTitle},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
        </trim>
        where article_id = #{articleId}
    </update>

    <delete id="deleteSpArticleById" parameterType="String">
        delete from sp_article where article_id = #{articleId}
    </delete>

    <delete id="deleteSpArticleByIds" parameterType="String">
        delete from sp_article where article_id in 
        <foreach item="articleId" collection="array" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </delete>
    
</mapper>