<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('下级查看列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <input class="form-control" type="hidden" id="sGuid" name = "sGuid" th:value="${sGuid}">
                        </li>
                        <li class="select-time">
                            <p>日期：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSData]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSData]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i> 搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i> 重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="closeItem()">
                <i class="fa fa-reply-all"></i>返回上一页
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var removeFlag = [[${@permission.hasPermi('system:sort:remove')}]];
    var editFlag = [[${@permission.hasPermi('system:sort:edit')}]];
    var prefix = ctx + "system/sort";

    $(function() {
        var options = {
            url: prefix + "/looksort",
            removeUrl: prefix + "/remove",
            updateUrl: prefix + "/edit/{id}",
            modalName: "查看下级",
            columns: [{
                checkbox: true
            },
            {
                field : 'sguid',
                title : '主键ID',
                visible: false
            },
            {
                field : 'sname',
                title : '名称'
            },
            {
                field : 'sSort',
                title : '排名'
            },
            {
                field : 'sdata',
                title : '日期',
                sortable: true,
                formatter: function(value, row, index) {
                    if(value != null){
                        return value.substring(0,10);
                    }
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.sguid + '\')"><i class="fa fa-edit"></i>编辑</a>&nbsp;');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.sguid + '\')"><i class="fa fa-remove"></i>删除</a>');
                    return actions.join('');
            }
            }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>