<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('沙盘文件列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input id="deptId" name="deptId" th:value="${deptId}" class="form-control" style="display:none;">
                        <ul>
                            <li>
                                <p>街区分类：</p>
                                <input class="form-control" type="text" id="treeName" onclick="selectDeptTree()">
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/file";
        var deptfix = ctx + "system/dept";
        var deptId;
        $(function() {
            var options = {
                url: prefix + "/list",
                modalName: "沙盘文件",
                columns: [{
                    radio: true
                },
                {
                    field : 'fileId', 
                    title : '文件id',
                    visible: false
                },
                {
                    field : 'fileName', 
                    title : '文件名称'
                },
                {
                    field : 'deptName',
                    title : '街区名称'
                },
                ]
            };
            $.table.init(options);
        });

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var menuId = treeId > 0 ? treeId : 100;
            var options = {
                title: '部门选择',
                width: "380",
                url: deptfix + "/selectDeptTree/" + menuId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            debugger
            var body = layer.getChildFrame('body', index);
            deptId = $("#deptId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    </script>
</body>
</html>