<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增文章')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
    <style>
        .over {position: fixed; left:0; top:0; width:100%; z-index:100;}
        .tempContainer {position:fixed; width:100%; margin-right:0px; margin-left:0px; text-align:center; z-index:101;top: 70px !important;}
        .tempContainer img{
            width: 600px !important;
            height: 500px !important;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-article-add" >
            <input id = "columnId" name="columnId" th:value="${columnId}" class="form-control" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">栏目名称：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" id="treeName" onclick="selectDeptTree()">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">文章标题：</label>
                <div class="col-sm-8">
                    <input name="title" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">文章内容：</label>
                <div class="col-sm-8">
                    <textarea name="content" class="form-control" type="text" style="height: 100px"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">X轴：</label>
                <div class="col-sm-8">
                    <input name="xaxis" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Y轴：</label>
                <div class="col-sm-8">
                    <input name="yaxis" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">视频方向：</label>
                <div class="col-sm-8">
                    <select name="direction" class="form-control m-b" th:with="type=${@dict.getType('dir_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div style="width: 572px;margin-left: 100px;">
                <input id="fileUpload" name="file" class="file" type="file" data-ref="imagesUrl" data-name="vdioUrl" multiple="multiple" data-theme="fas">
                <input type="hidden" name="imagesUrl" value="">
                <input type="hidden" name="vdioUrl" value="">
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/article"
        var deptfix = ctx + "system/dept";
        var columnId;
        $("#form-article-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-article-add').serialize());
            }
        }

        $('#fileUpload').fileinput({
            language : 'zh',
            uploadUrl : prefix + "/uploads",//上传文件路径
            showUpload: true, //是否显示上传按钮
            showRemove : true, //显示移除按钮
            showPreview : true, //是否显示预览
            showCaption: false,//是否显示标题
            autoReplace : true,
            minFileCount: 0,
            maxFileSize: 5000 * 1024 * 1024,
            uploadAsync: true,
            maxFileCount: 1,//最大上传数量
            browseOnZoneClick: true,
            msgFilesTooMany: "选择上传的文件数量 超过允许的最大数值！",
            enctype: 'multipart/form-data',
            allowedFileExtensions : [ "bmp", "gif", "doc", "docx", "xls", "slsx", "ppt", "pptx", "html", "htm", "txt", "rar", "zip", "gz", "bz2", "pdf", "jpg", "png", "gif" ,"mp4"],
            browseClass : "btn btn-primary", //按钮样式
            previewFileIcon : "<i class='glyphicon glyphicon-king'></i>"
        }).on("fileuploaded", function(event, data) {
            debugger
            var ref = $(this).attr("data-ref");
            var name = $(this).attr("data-name");
            $("input[name='" + ref + "']").val(data.response.imagesUrl);
            $("input[name='" + name + "']").val(data.response.vdioUrl);
        }).on('fileerror', function(event, data, msg) {
            console.log("fileerror");
            console.log(data);
        });

        $(".updatefile").click(function() {
            var fileAddress = $(this).attr("data-id");//获得参数的值
            window.location.href = prefix + "/updatefile?path=" + fileAddress;
        });

        /*选择部门树*/
        function selectDeptTree() {
            var treeId = $("#treeId").val();
            var menuId = treeId > 0 ? treeId : 100;
            var options = {
                title: '部门选择',
                width: "380",
                url: deptfix + "/selectDeptTree/" + menuId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            columnId = $("#columnId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    </script>
</body>
</html>