<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增串口')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-serialport-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">串口：</label>
                <div class="col-sm-8">
                    <select name="serialport" class="form-control m-b" th:with="type=${@dict.getType('serialport_number')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">
                <label class="col-sm-3 control-label">视频关联id：</label>
                <div class="col-sm-8">
                    <input name="videoId" class="form-control" type="text">
                </div>
            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">视频名称：</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" type="text" id="fileName" onclick="selectVideos()">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频时长：</label>
                <div class="col-sm-8">
                    <input name="videoTime" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">视频节点：</label>
                <div class="col-sm-8">
                    <input name="videoNode" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/serialport"
        var fileFix = ctx + "system/file";
        var fileId;

        $("#form-serialport-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-serialport-add').serialize());
            }
        }

        /*选择视频列表*/
        function selectVideos() {
            var options = {
                title: '视频选择',
                width: "600",
                url: fileFix + "/selectVideos/",
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            fileId = $("#fileId").val(body.find('#fileId').val());
            $("#fileName").val(body.find('#fileName').val());
            layer.close(index);
        }
    </script>
</body>
</html>