<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('串口列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input id="fileId" name="fileId" th:value="${fileId}" class="form-control" type="text">
                        <ul>
                            <li>
                                <p>串口：</p>
                                <select name="serialport" th:with="type=${@dict.getType('serialport_number')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>视频id：</p>
                                <input type="text" name="articleId"/>
                            </li>
                            <li>
                                <p>视频时长：</p>
                                <input type="text" name="videoTime"/>
                            </li>
                            <li>
                                <p>视频节点：</p>
                                <input type="text" name="videoNode"/>
                            </li>
                            <li>
                                <p>创建时间：</p>
                                <input type="text" name="createtime"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:serialport:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:serialport:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:serialport:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:serialport:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:serialport:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:serialport:remove')}]];
        var serialportDatas = [[${@dict.getType('serialport_number')}]];
        var prefix = ctx + "system/serialport";
        var fileFix = ctx + "system/file";
        var fileId;

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "串口",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'serialportId', 
                    title : '串口表id',
                    visible: false
                },
                {
                    field : 'serialport', 
                    title : '串口',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(serialportDatas, value);
                    }
                },
                {
                    field : 'videoId', 
                    title : '视频关联id'
                },
                {
                    field : 'videoTime', 
                    title : '视频时长'
                },
                {
                    field : 'videoNode', 
                    title : '视频节点',
                    visible: false
                },
                {
                    field : 'createtime', 
                    title : '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.serialportId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.serialportId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        function selectVideos() {
            $.modal.open('视频选择', fileFix + "/selectVideos", '600', '620', callback);
        }
        function callback(index, layero) {
            debugger
            alert("进入了回调函数提交方法");
        }
        /*选择视频列表*/
        /*function selectVideos() {
            var options = {
                title: '视频选择',
                width: "600",
                url: fileFix + "/selectVideos/",
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        }
        function doSubmit(index, layero){
            var body = layer.getChildFrame('body', index);
            fileId = $("#fileId").val(body.find('#fileId').val());
            $("#fileName").val(body.find('#fileName').val());
            layer.close(index);
        }*/
    </script>
</body>
</html>